* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {

    --blue: #0d6efd;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --gray-dark: #343a40;
    --cyan: #0dcaf0;
    --text: #6c757d;
    --dark: #212529;
    --light: #fff;
    --heading: #3E3232;
    --body: #fafafa;
    --bg-light: #f1f3f6;
    --radius: .5rem;
    --shadow: box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}


body {
    width: 100%;
    height: 100%;
    background: var(--bg-light);
}

p {
    font-size: 1.4rem;
    color: var(--dark);
    line-height: 1.5;
    letter-spacing: .5px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

select {
    cursor: pointer;
}

.form-label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray-dark);
    display: block;
    padding: .5rem 0;
    letter-spacing: 1px;
}

.form-input {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    outline: none;
    margin: .5rem 0;
    transition: all .2s linear;
}

.form-input:focus {
    box-shadow: 0px 0px 7px #0d6dfdb9;
}

.form-line {
    width: 100%;
    display: block;
    border-bottom: 1px solid #310b0b14;
    margin-top: 5rem;
}

.button {
    padding: 1rem .8rem;
    border: 2px solid transparent;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all .2s ease-in;
}

/* User Login Form code start here _userLogin.php and registration */

#login-container {
    padding-top: 3rem;
}

#login-container .page-title {
    text-align: center;
    margin-bottom: 1.7rem;
}

#login-container .page-title h1 {
    font-weight: 600;
}

#login-container .page-title h1 span {
    color: var(--green);
}

#login-container .form-box {
    width: 45rem;
    margin: 1rem auto;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: var(--radius);
    background: var(--light);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

#login-container .form-box h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--blue);
    padding-bottom: 1rem;
}

#login-container .form-box .form-element {
    margin: 1.2rem 0;
}



/* .submit is class for buttons likes (login, sign-up) */
#login-container .form-box .form-element .submit-btn {
    background: var(--blue);
    color: var(--light);
    margin-top: 2rem;
    transition: all .2s ease-in;
}

#login-container .form-box .form-element .submit-btn:hover {
    background-color: var(--purple);
}


#login-container .form-box .forgot-pass {
    display: block;
    float: right;
    font-size: 13px;
    color: var(--red);
    margin: 1rem 0;
}

#login-container .form-box .sign-link {
    padding-top: 2rem;
    text-align: center;
}

#login-container .form-box .sign-link span {
    color: var(--text);
    font-size: 1.4rem;
    margin-right: .5rem;
}

#login-container .form-box .sign-link a {
    font-size: 1.4rem;
    color: var(--blue);
}

.form-element small {
    font-size: 10px;
    color: red;
}

.page-title .heading {
    font-size: 3rem;
}

/* User Login Form code End here _userLogin.php */


/* --------- Dashboard ---------- */

.wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% auto;
}

.wrapper aside {
    padding: 1rem 0 1rem 2rem;
    display: inline-block;
    color: var(--bg-light);
    background: var(--dark);
}



.wrapper aside .logo {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.wrapper aside .links {
    padding: 1rem 0;

}

.wrapper aside .links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper aside .links ul li a {
    display: inline-block;
    padding: .7rem 0;
    color: var(--cyan);
    font-size: 1.6rem;
    transition: all .2s ease;
}

.wrapper aside .links ul li a:hover {
    opacity: 0.8;
}

.wrapper aside .links ul li a i {
    display: inline-block;
    margin-right: .7rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 2rem;
    background: var(--bg-light);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

nav .search {
    display: flex;
    align-items: center;
    width: 50%;
}

nav .search i {
    font-size: 1.6rem;
    color: var(--dark);
    padding-right: 1rem;
}

nav .search input {
    width: 100%;
    padding: 1rem 0;
    border: none;
    outline: none;
    background: transparent;
}

nav .navbar-right i {
    font-size: 1.5rem;
    padding: 0 .3rem;
    cursor: pointer;
    color: var(--gray-dark);
}

.dash-container {
    padding: 2.5rem 2rem;
}

.dash-container .heading {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.dash-container .box-con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.dash-container .box-con .box {
    width: 22rem;
    height: 13rem;
    border-radius: 2rem;
    color: var(--light);
    background: red;
    padding: 1.5rem;
    cursor: pointer;
}

.dash-container .box-con .box:nth-child(1) {
    background: var(--blue);
}


.dash-container .box-con .box:nth-child(2) {
    background: var(--orange);
}



.dash-container .box-con .box:nth-child(3) {
    background: var(--green);
}



.dash-container .box-con .box:nth-child(4) {
    background: var(--yellow);
}



.dash-container .box-con .box .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.dash-container .box-con .box .text h2,
.dash-container .box-con .box .text i {
    font-size: 2.2rem;
    font-weight: 600;
}

.dash-container .box-con .box .numbers {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.dash-container .info-con {
    width: 100%;
    height: 27rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    gap: 1rem;
}

.dash-container .info-con .left {
    padding: 2.5rem 2rem;
    border-radius: .8rem;
    background: var(--light);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.dash-container .info-con .left h2 {
    padding: 1rem 0;
    font-size: 2rem;
}

.dash-container .info-con .left button {
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    margin-top: 2rem;
    background: var(--purple);
    color: var(--bg-light);
}

.dash-container .info-con .right {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dash-container .info-con .right .box .icon-back {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--light);
}

.bg-yellow,
.color-yellow {
    background: var(--yellow);
}

.bg-blue,
.color-blue {
    background: var(--blue);
}

.bg-orange,
.color-orange {
    background: var(--orange);
}

.bg-green,
.color-green {
    background: var(--green);
}

.dash-container .info-con .right .icon-back i {
    display: inline-block;
    border-radius: 50%;
}

.dash-container .info-con .right .box .num {
    padding: .5rem 0;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 600;
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .dash-container .box-con .box {
        width: 33rem;
    }

    .dash-container .info-con {
        grid-template-columns: 1fr;
    }

    .dash-container .info-con .right {
        gap: 2rem;
    }

}